h1{
    color: aqua;
}


/* .container{
    background-color: green;
} */
#hello{
    background-color: black;
}
.message{
    color: white;
    background-color: red;
}


ul li:nth-child(4){
    background-color: red;
    
}

ul li:nth-last-child(1){
    background-color: pink;
}
ul li:nth-of-type(2n+5){
    background-color: aqua;
}

ul li:hover{
    background-color: black;
    color: red;
    display: inline;
}
